<div class="background rad">
</div>

<div class="container">

  <div id="main">

    <header>
      <h1><span class="off">Gunnar</span></h1>
    </header>
  
    <div id="clouds">
      <img src="/img/clouds_656x276.png" width="656" height="276" alt="Happy clouds with Gunnar sitting in the middle." />
    </div>
    
    <div id="copy">
      <p>Gunnar is a drag and drop file uploader for Rackspace Cloud Files™</p>
      <p class="smallcopy top25">Don't have a Rackspace Cloud Files account?</p>
      <a class="breaker buttonish" target="_blank" href="http://www.rackspacecloud.com/2469.html">Get One for Free Here →</a>
    </div>
    
    <div id="purchase">
      <a href="http://itunes.apple.com/us/app/gunnar/id454164439?ls=1&amp;mt=12" id="mac_app_store"><img width="123" height="123" src="/img/icon_mac_app_store_123x123.png" alt="Purchase Gunnar on the Mac App Store" title="Purchase Gunnar on the Mac App Store" /></a>
      <p>Available on the Mac App Store</p>
    </div>

  </div> <!-- end #main -->

</div>