<div class="background rad">
</div>

<div class="container">

  <div id="main">

    <header>
      <h1><span class="off">Gunnar</span></h1>
    </header>
  
    <div id="clouds">
      <img src="http://cdn.gunnarapp.com/clouds_656x276.png" width="656" height="276" alt="Happy clouds with Gunnar sitting in the middle." />
    </div>
  
    <div id="copy">
      <p>Have an issue with Gunnar?  <br>Send us a note!</p>
      <a class="breaker buttonish" href="mailto:support@gunnarapp.com">Email Support →</a>
    </div>
    
  </div> <!-- end #main -->

</div>